

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color:cadetblue;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: black;
    transition: 0.5;
}

.socialIcons a:hover i {
    color:cadetblue;
    transition: 0.5;
}

.footerNav {
    margin: 30pz 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: darkgray;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5;
}

.footerNav ul li a:hover {
    opacity: 1;
    color:cadetblue;
}

.footerBottom {
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color:cadetblue;
}

